@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondaryFont;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

i {
  color: $secondaryColor;
}
