#footer {
  .footer-background {
    position: relative;
    height: 60vh;
    background: url("../assets/images/site-footer-bg.jpeg");
    background-color: #343434;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primaryColor;
    .footer-content {
      position: relative;
      z-index: 1;
      .donate {
        h3 {
          font-size: clamp(1rem, 0.4118rem + 2.3529vw, 2rem);
        }
        button {
          background-color: $secondaryColor;
        }
      }
      li {
        color: #8b8b8b;
      }
    }
  }
  .footer-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 52, 52, 0.9);
  }
}

@media (max-width: 768px) {
  .footer-background {
    height: auto;
  }
}
