@import "./variables";

header {
  .navbar {
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);

    a {
      color: #fff;
    }
    a.nav-link {
      color: #fff;
    }
  }
  .main-slider {
    .single-carousel {
      position: relative;
      .slider-container {
        background: rgb(0, 0, 0);
        img {
          height: 100vh;
          mix-blend-mode: luminosity;
        }
        .content-action {
          max-width: clamp(23.75rem, 8.3088rem + 61.7647vw, 50rem);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: $primaryColor;
          h1 {
            font-size: clamp(1.875rem, -0.6985rem + 10.2941vw, 6.25rem);
          }
          p {
            color: $shadeColor;
            font-size: clamp(0.875rem, 0.6544rem + 0.8824vw, 1.25rem);
          }
          .action-btn {
            background-color: $secondaryColor;
          }
        }
      }
      .arrow-button {
        background-color: $shadeColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 2; // why z-index
        i {
          font-size: 15px;
        }
      }
      .custom-prev {
        left: 50px;
      }
      .custom-next {
        right: 50px;
      }
    }
  }
}
